@import "../../../../colors.scss";

::ng-deep {
  .mat-stroked-button {
    border: none !important;
  }
}

button {
  background-color: $color-blue !important;
  border: 0.2rem solid $color-blue !important;
  color: $color-white !important;
  border-radius: 1rem;
  margin-top: 1rem;
}

.mat-button-disabled {
  background-color: $color-blue !important;
  color: $color-white !important;
  border-color: $color-blue !important;
}