<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/users']">
      <img src="./assets/img/logo-hiberus-blanco.png" alt="" width="60" height="54">
    </a>
    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" aria-current="page" [routerLink]="['/users']">Usuarios</a>
        </li>
      </ul>
      <div class="sticky-md-top icono">
        <a [routerLink]="['/logout']" ><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </div>
</nav> 