::ng-deep {
  button span.mat-button-focus-overlay {
    background: none;
  }
}
button {
  background: none;
  border: none;
}

.menu-language {
  width: 100%;
  display: flex;
  justify-content: end;
}
