<div class="modal-dialog login animated fadeInLeft">
  <div class="main-section">
    <div class="border-0 modal-content">
      <div class="col-12 user-img text-center">
        <img
          src="https://asociaciondrupal.es/sites/default/files/partners/180725_Hiberus_Tecnolog%C3%ADa_Horizontal_Azul.png"
          alt="Hiberus" />
      </div>

      <form [formGroup]="formGroup" (ngSubmit)="signUp()">
        <app-input [inputModel]="nameInputModel" class="row" ngDefaultControl></app-input>
        <app-input [inputModel]="surnameInputModel" class="row" ngDefaultControl></app-input>
        <app-input [inputModel]="emailInputModel" class="row" ngDefaultControl></app-input>
        <app-input [inputModel]="passwordInputModel" class="row" ngDefaultControl></app-input>

        <div class="example-button-row">
          <a mat-button (click)="goLogin()" target="_blank"> ¿Ya tienes una cuenta? / Ingresar </a>
        </div>


        <app-button text="{{ 'button.sign_up' | translate }}" [form]="formGroup" type="submit" class="row"></app-button>
      </form>
    </div>
  </div>
</div>