@import '../../../../colors.scss';
.col {
  padding: 0.5rem;
  min-width: 25%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  color: white;
}
app-selector {
  float: right;
}
mat-card {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}
.detail {
  cursor: pointer;
  color: $color-light-yellow;
  &:hover {
    background-color: $color-light-orange;
    border-radius: 0.5rem;
  }
}
.delete {
  cursor: pointer;
  color: $color-red;
  &:hover {
    background-color: $color-light-orange;
    border-radius: 0.5rem;
  }
}
